@model Microsoft.Azure.Search.Models.DocumentSearchResponse<DemoApp.Models.ProductInfo>

@{
    ViewBag.Title = "Home Page";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-4">
            <h3>Facets</h3>
            @Html.Partial("Facets", Model.Facets)
        </div>
        <div class="col-md-8">
            @ResultCount()
            @Html.Partial("SearchResults", Model)
        </div>
    </div>
}

@helper ResultCount()
{
    if (Model.Count > 0)
    {
        <h3>Found approximately @Model.Count products</h3>
    }
    else
    {
        <h3>No products found</h3>
    }
}